node_modules
dist
deployment
.github
*.log
*.md
*.test.cjs
*-desktop.png
*-mobile.png
desktop.png
mobile.png
builder-iteration.png
classic-reference-size.png
floating-builder.png
.git/**
!.git/HEAD
!.git/refs/
!.git/refs/heads/
!.git/refs/heads/**
!.git/packed-refs
.playwright-cli
